@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

@font-face {
  font-family: 'Decay';
  src: url('/Decay-White-Alt.woff') format('woff');
}

body {
  color: #fff;
  background: #000;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

::selection {
  @apply bg-green-100 text-blue-500;
}

a:hover {
  text-decoration: line-through;
}

/* CURSOR */

body {
  cursor: url(/unguardedcursor.png) 20 20, auto !important;
}

a,
a:focus {
  cursor: url(/unguardedcursor.png) 20 20, auto !important;
}

/* RICH TEXT */

.rich-text {
  @apply max-w-3xl;
}

.rich-text h1,
.rich-text h2,
.rich-text h3 {
  @apply font-decay mb-4;
}

.rich-text h4,
.rich-text h5,
.rich-text h6 {
  @apply mb-4;
}

.rich-text h1 {
  @apply text-4xl lg:text-6xl mb-8;
}

.rich-text h2 {
  @apply text-3xl lg:text-4xl;
}

.rich-text h3 {
  @apply text-2xl lg:text-3xl;
}

.rich-text h4 {
  @apply text-xl lg:text-2xl;
}

.rich-text h5 {
  @apply text-lg lg:text-xl;
}

.rich-text h6 {
  @apply text-base lg:text-lg;
}

.rich-text p {
  @apply mb-4;
}

.rich-text p a:not(.rich-text li p a) {
  @apply underline;
}

.rich-text img {
  @apply my-8;
}

.rich-text ul,
.rich-text ol {
  @apply mt-2 mb-8 font-sans text-base lg:text-xl;
}

.rich-text li p {
  @apply mb-0;
}

.rich-text ol {
  @apply list-decimal ml-5;
}

/* IFRAME */

.soundcloud-iframe-container {
  @apply my-8;
}

.youtube-iframe-container {
  @apply my-8;
  position: relative;
  padding-bottom: 56.25%;
}

.youtube-iframe-container iframe {
  @apply absolute w-full h-full top-0 left-0;
}

.bandcamp-iframe-container {
  @apply my-8;
}

.bandcamp-iframe-container iframe {
  @apply w-full max-w-[600px];
}
