@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

@font-face {
  font-family: 'Decay';
  src: url('/Decay-White-Alt.woff') format('woff');
}

body {
  color: #fff;
  background: #000;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a:hover {
  text-decoration: line-through;
}

/* CURSOR */

body {
  cursor: url(/unguardedcursor.png) 20 20, auto !important;
}

a,
a:focus {
  cursor: url(/unguardedcursor.png) 20 20, auto !important;
}

/* RICH TEXT */

.rich-text p,
.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  @apply max-w-5xl;
}

.rich-text h1 {
  @apply text-4xl md:text-6xl mb-8;
}

.rich-text h2 {
  @apply text-3xl md:text-5xl mb-8;

  @media (min-width: 768px) {
    line-height: 1.1;
  }
}

.rich-text p {
  @apply mb-4 max-w-3xl text-xl md:text-2xl;
}

.rich-text i {
  @apply font-decay not-italic;
}

.rich-text img {
  @apply my-8 max-w-xl;
}

.rich-text table {
  @apply w-full max-w-5xl text-left border border-white mt-12;
}

.rich-text th {
  @apply font-decay;
}

.rich-text th,
.rich-text td {
  @apply px-2;
}

/* LINKS */

.links {
  @apply text-3xl md:text-5xl;
}

.links ul {
  @apply font-decay mb-16;
}

/* PRESS TEXT */

.press-text h3 {
  @apply text-2xl lg:text-3xl mb-4 font-decay;
}

.press-text p {
  @apply mb-4 max-w-3xl;
}

/* PRESS LINKS */

.press-links {
  @apply font-decay my-8 text-2xl lg:text-3xl;
}

.press-links ul {
  @apply mt-2 mb-4 font-sans text-base lg:text-xl;
}
