@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

@font-face {
  font-family: 'Decay';
  src: url('/Decay-White-Alt.woff') format('woff');
}

body {
  color: #fff;
  background: #000;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a:hover {
  text-decoration: line-through;
}

/* CURSOR */

body {
  cursor: url(/unguardedcursor.png) 20 20, auto !important;
}

a,
a:focus {
  cursor: url(/unguardedcursor.png) 20 20, auto !important;
}

/* RICH TEXT */

.rich-text {
  @apply text-xl md:text-2xl max-w-7xl;
}

.rich-text h1 {
  @apply text-4xl md:text-6xl mb-8;
}

.rich-text h2 {
  @apply max-w-5xl text-3xl md:text-5xl mb-8;

  @media (min-width: 768px) {
    line-height: 1.1;
  }
}

.rich-text p {
  @apply mb-4 max-w-3xl;
}

.rich-text i {
  @apply font-decay not-italic;
}

.rich-text img {
  @apply my-8 max-w-xl;
}

.rich-text table {
  @apply w-full max-w-5xl text-left border border-white mt-12;
}

.rich-text th {
  @apply font-decay;
}

.rich-text th,
.rich-text td {
  @apply px-2;
}
